/********************************************
 General
********************************************/


/* ============================================================
  PRIMARY STRUCTURE
============================================================ */

.container {
	max-width: 960px;
	margin: 0 auto;
}


/* ============================================================
  SECTIONS
============================================================ */

section.module:last-child {
	margin-bottom: 0;
}

section.module h2 {
	margin-bottom: 40px;
	font-family: "Roboto Slab", serif;
	font-size: 30px;
}

section.module p {
	margin-bottom: 40px;
	font-size: 16px;
	font-weight: 300;
}

section.module p:last-child {
	margin-bottom: 0;
}

section.module.content {
	padding: 40px 0;
}

section.module.parallax {
	height: 600px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

section.module.parallax h1 {
	color: rgba(255, 255, 255, 0.8);
	font-size: 48px;
	line-height: 600px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section.module.parallax-1 {
	background-image: url("../images/Shield-Marvel-1.jpg");
}

section.module.parallax-2 {
	background-image: url("../images/joker.jpg");
}

section.module.parallax-3 {
	background-image: url("../images/dbz.jpg");
}

@media all and (min-width: 600px) {
	section.module h2 {
		font-size: 42px;
	}
	section.module p {
		font-size: 20px;
	}
	section.module.parallax h1 {
		font-size: 96px;
	}
}

@media all and (min-width: 960px) {
	section.module.parallax h1 {
		font-size: 160px;
	}
}

body {
	background: url(../images/Shield-Marvel-1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

a {
	text-decoration: none;
}

#wrapper {
	/* mad width is related to width. But instead of width, max-width that it canbe smaller   for mobile devices/tablets */
	max-width: 940px;
	/* Margin 0 is for all sides. */
	margin: 0 auto;
	padding: 0 5%;
}

img {
	max-width: 100%;
}

#logo {
	/* Our name and descriptions of who we are. */
	text-align: center;
	margin: 0;
}

h1 {
	font-family: 'Kaushan Script', cursive;
	margin: 15px 0;
	font-size: 1.75em;
}

h2 nav {
	font-family: 'Sigmar One', cursive;
	margin: 15px 0;
	font-size: 1.75em;
}


/********************************************
 Colors
********************************************/

.color {
	color: darkslateblue;
	text-align: center;
}

h1,
p,
a {
	color: darkslateblue;
}

a {
	color: darkred;
}

nav {
	color: red;
}

nav a.selet,
nav a:hover {
	color: purple;
}

#sewg {
	color: darkblue;
	font-size: 1.45em;
}

#jk {
	color: darkslateblue;
	text-align: center;
	font-size: 3.00em;
}


/********************************************
  Navigation
********************************************/

nav {
	text-align: center;
	padding: 10px 0;
	margin: 20 0 0;
}

nav ul {
	list-style: none;
	padding: 10px 0;
	margin: 0px 10px;
}

nav li {
	display: inline-block;
}

nav a {
	font-weight: 800;
	padding: 15px 10px;
}


/********************************************
  Footer
********************************************/

footer {
	font-size: 0.75em;
	text-align: center;
	padding-top: 50px;
	color: gray;
	clear: both;
}

.social-media-icon {
	width: 20px;
	height: 20px;
	margin: 0 5px;
}

s
/********************************************
  Page Portfolio 
********************************************/

#gallery {
	margin: 0;
	padding: 0;
	list-style: none;
}

#gallery li {
	float: left;
	width: 45%;
	margin: 2.5%;
}

#gallery li a p {
	margin: 0;
	padding: 5%;
	font-size: 1.30em;
	color: firebrick;
}


/********************************************
  About ME Page
********************************************/

.profile-photo {
	display: block;
	max-width: 0 auto 30px;
	border-radius: 25%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


/********************************************
  Cool Style
********************************************/

#center {
	text-align: center;
}

#sw {
	text-align: center;
	color: deeppink;
}